root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_prefer_braces = true:warning
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1873.severity = none
dotnet_diagnostic.CA1848.severity = none
